USE [SmartRecruitmentMatchingPlatformDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationId] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerId] [int] NOT NULL,
	[VacancyId] [int] NOT NULL,
	[AppliedDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Industry] [nvarchar](max) NULL,
	[Website] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyAddresses]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyAddresses](
	[CompanyAddressId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AddressLine1] [nvarchar](250) NOT NULL,
	[AddressLine2] [nvarchar](250) NULL,
	[City] [nvarchar](100) NOT NULL,
	[State] [nvarchar](100) NULL,
	[Country] [nvarchar](100) NOT NULL,
	[PostalCode] [nvarchar](20) NULL,
 CONSTRAINT [PK_CompanyAddresses] PRIMARY KEY CLUSTERED 
(
	[CompanyAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyDocuments]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyDocuments](
	[CompanyDocumentId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[DocumentName] [nvarchar](max) NOT NULL,
	[DocumentType] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
	[IsVerified] [bit] NOT NULL,
 CONSTRAINT [PK_CompanyDocuments] PRIMARY KEY CLUSTERED 
(
	[CompanyDocumentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanyProfiles]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyProfiles](
	[CompanyProfileId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[AboutCompany] [nvarchar](max) NULL,
	[Mission] [nvarchar](max) NULL,
	[Vision] [nvarchar](max) NULL,
	[Benefits] [nvarchar](max) NULL,
	[WorkingHours] [nvarchar](max) NULL,
	[CompanyCulture] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CompanyProfiles] PRIMARY KEY CLUSTERED 
(
	[CompanyProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompanySocialMedias]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanySocialMedias](
	[CompanySocialMediaId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[LinkedInUrl] [nvarchar](max) NULL,
	[FacebookUrl] [nvarchar](max) NULL,
	[TwitterUrl] [nvarchar](max) NULL,
	[InstagramUrl] [nvarchar](max) NULL,
	[YouTubeUrl] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_CompanySocialMedias] PRIMARY KEY CLUSTERED 
(
	[CompanySocialMediaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactRequests]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactRequests](
	[ContactRequestId] [int] IDENTITY(1,1) NOT NULL,
	[EmployerId] [int] NOT NULL,
	[JobSeekerId] [int] NOT NULL,
	[VacancyId] [int] NULL,
	[Message] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[RespondedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_ContactRequests] PRIMARY KEY CLUSTERED 
(
	[ContactRequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVs]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerId] [int] NOT NULL,
	[OriginalFileName] [nvarchar](max) NOT NULL,
	[StoredFileName] [nvarchar](max) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[ContentType] [nvarchar](max) NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[UploadedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_CVs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Educations]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Educations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerId] [int] NOT NULL,
	[Institution] [nvarchar](max) NOT NULL,
	[Qualification] [nvarchar](max) NOT NULL,
	[FieldOfStudy] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Educations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employers]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employers](
	[EmployerId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyName] [nvarchar](200) NOT NULL,
	[CompanyDescription] [nvarchar](1000) NULL,
	[Location] [nvarchar](200) NULL,
	[Website] [nvarchar](500) NULL,
 CONSTRAINT [PK_Employers] PRIMARY KEY CLUSTERED 
(
	[EmployerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experiences]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiences](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerId] [int] NOT NULL,
	[JobTitle] [nvarchar](max) NOT NULL,
	[CompanyName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartDate] [datetime2](7) NULL,
	[EndDate] [datetime2](7) NULL,
	[IsCurrentJob] [bit] NOT NULL,
 CONSTRAINT [PK_Experiences] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeekerProfiles]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeekerProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerId] [int] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[Summary] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_JobSeekerProfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeekers]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeekers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_JobSeekers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobSeekerSkills]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSeekerSkills](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobSeekerId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
	[ProficiencyLevel] [int] NOT NULL,
 CONSTRAINT [PK_JobSeekerSkills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshTokens]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshTokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Token] [nvarchar](450) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NOT NULL,
	[RevokedAt] [datetime2](7) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_RefreshTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancies]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancies](
	[VacancyId] [int] IDENTITY(1,1) NOT NULL,
	[EmployerId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NULL,
	[Location] [nvarchar](200) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[ExperienceRequired] [int] NOT NULL,
	[RequiredEducationLevel] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ClosingDate] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Vacancies] PRIMARY KEY CLUSTERED 
(
	[VacancyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacancySkills]    Script Date: 8/11/2026 11:56:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacancySkills](
	[VacancySkillId] [int] IDENTITY(1,1) NOT NULL,
	[VacancyId] [int] NOT NULL,
	[SkillId] [int] NOT NULL,
 CONSTRAINT [PK_VacancySkills] PRIMARY KEY CLUSTERED 
(
	[VacancySkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260810095554_InitialCreate', N'8.0.29')
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationId], [JobSeekerId], [VacancyId], [AppliedDate], [Status]) VALUES (1, 1, 1, CAST(N'2026-08-10T15:50:38.0175940' AS DateTime2), N'Pending')
INSERT [dbo].[Applications] ([ApplicationId], [JobSeekerId], [VacancyId], [AppliedDate], [Status]) VALUES (2, 3, 1, CAST(N'2026-08-11T04:52:37.4895322' AS DateTime2), N'Pending')
INSERT [dbo].[Applications] ([ApplicationId], [JobSeekerId], [VacancyId], [AppliedDate], [Status]) VALUES (3, 4, 1, CAST(N'2026-08-11T05:38:46.2626833' AS DateTime2), N'Pending')
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[ContactRequests] ON 

INSERT [dbo].[ContactRequests] ([ContactRequestId], [EmployerId], [JobSeekerId], [VacancyId], [Message], [Status], [CreatedAt], [RespondedAt]) VALUES (1, 1, 1, 1, N'We reviewed your application and would like to contact you regarding the Junior .NET Developer vacancy.', 1, CAST(N'2026-08-10T15:59:10.9460753' AS DateTime2), CAST(N'2026-08-10T16:10:21.4718463' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ContactRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[Employers] ON 

INSERT [dbo].[Employers] ([EmployerId], [UserId], [CompanyName], [CompanyDescription], [Location], [Website]) VALUES (1, 1, N'Test Employer', NULL, NULL, NULL)
INSERT [dbo].[Employers] ([EmployerId], [UserId], [CompanyName], [CompanyDescription], [Location], [Website]) VALUES (2, 1005, N'TechNova Solutions', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Employers] OFF
GO
SET IDENTITY_INSERT [dbo].[JobSeekerProfiles] ON 

INSERT [dbo].[JobSeekerProfiles] ([Id], [JobSeekerId], [FullName], [PhoneNumber], [Location], [Summary], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'Test Job Seeker', NULL, NULL, NULL, CAST(N'2026-08-10T15:11:12.0256370' AS DateTime2), NULL)
INSERT [dbo].[JobSeekerProfiles] ([Id], [JobSeekerId], [FullName], [PhoneNumber], [Location], [Summary], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'Test Job Seeker', NULL, NULL, NULL, CAST(N'2026-08-11T03:48:07.3893537' AS DateTime2), NULL)
INSERT [dbo].[JobSeekerProfiles] ([Id], [JobSeekerId], [FullName], [PhoneNumber], [Location], [Summary], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'Test Job Seeker', NULL, NULL, NULL, CAST(N'2026-08-11T04:01:38.8300559' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[JobSeekerProfiles] OFF
GO
SET IDENTITY_INSERT [dbo].[JobSeekers] ON 

INSERT [dbo].[JobSeekers] ([Id], [UserId]) VALUES (1, 2)
INSERT [dbo].[JobSeekers] ([Id], [UserId]) VALUES (2, 1002)
INSERT [dbo].[JobSeekers] ([Id], [UserId]) VALUES (3, 1003)
SET IDENTITY_INSERT [dbo].[JobSeekers] OFF
GO
SET IDENTITY_INSERT [dbo].[JobSeekerSkills] ON 

INSERT [dbo].[JobSeekerSkills] ([Id], [JobSeekerId], [SkillId], [ProficiencyLevel]) VALUES (1, 1, 1, 4)
INSERT [dbo].[JobSeekerSkills] ([Id], [JobSeekerId], [SkillId], [ProficiencyLevel]) VALUES (2, 1, 2, 4)
INSERT [dbo].[JobSeekerSkills] ([Id], [JobSeekerId], [SkillId], [ProficiencyLevel]) VALUES (3, 4, 1, 4)
SET IDENTITY_INSERT [dbo].[JobSeekerSkills] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [CreatedAt]) VALUES (1, 2, N'New Contact Request', N'Employer ''Test Employer'' sent you a contact request.', 1, CAST(N'2026-08-10T15:59:10.9651167' AS DateTime2))
INSERT [dbo].[Notifications] ([Id], [UserId], [Title], [Message], [IsRead], [CreatedAt]) VALUES (2, 1, N'Contact Request Response', N'A candidate has accepted your contact request.', 0, CAST(N'2026-08-10T16:10:21.4811285' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[RefreshTokens] ON 

INSERT [dbo].[RefreshTokens] ([Id], [Token], [CreatedAt], [ExpiresAt], [RevokedAt], [UserId]) VALUES (1, N'Ejg0GmTsrPpDBzHVe3gbTSJCxVajj5aeGxfT3PYLMWGC57JDmr5jN+lRATYtODqX1EEZe7zonHWcgjSoJOzZQQ==', CAST(N'2026-08-10T15:02:09.4574805' AS DateTime2), CAST(N'2026-08-17T15:02:09.4575351' AS DateTime2), NULL, 1)
INSERT [dbo].[RefreshTokens] ([Id], [Token], [CreatedAt], [ExpiresAt], [RevokedAt], [UserId]) VALUES (2, N'2JWWq3QFrvIzXUVBiWxbYjTO/QMY6KR01xtD4x+DeOZ+ULkKgqrFjDrGom/WXIm4LNHyrHUsRDBWekfXbvlXBw==', CAST(N'2026-08-10T15:02:28.6444544' AS DateTime2), CAST(N'2026-08-17T15:02:28.6444641' AS DateTime2), NULL, 1)
INSERT [dbo].[RefreshTokens] ([Id], [Token], [CreatedAt], [ExpiresAt], [RevokedAt], [UserId]) VALUES (3, N'77VwZGMLQ2OdLj7RfxQPZdPWtEl9AubliwUT3Z6Lpew/uY75iUTaSVGbKd4ykrgmLenVGsi+MECMAKJMAZkKkA==', CAST(N'2026-08-10T15:11:12.0623361' AS DateTime2), CAST(N'2026-08-17T15:11:12.0623362' AS DateTime2), NULL, 2)
SET IDENTITY_INSERT [dbo].[RefreshTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (1, N'C#')
INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (2, N'ASP.NET Core')
INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (3, N'SQL Server')
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1, N'Test Employer', N'employer.newpc@example.com', N'AQAAAAIAAYagAAAAEKE72ZwKC4A1KLpRGAHFALtPgOitUxU9lqiOf1lCDWdZSdBz+OmJ2yCGmEuEuwgzTg==', 2, 1, CAST(N'2026-08-10T15:02:09.2208958' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (2, N'Test Job Seeker', N'jobseeker.newpc@example.com', N'AQAAAAIAAYagAAAAEPZJv8sTtMTPoAkWcd78d17koI/TNasoyEy3wqNMpzmjdTY4b6bYC0NlCRbt6CVXKQ==', 1, 1, CAST(N'2026-08-10T15:11:11.9730555' AS DateTime2), NULL)
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role], [IsActive], [CreatedAt], [UpdatedAt]) VALUES (1002, N'Test Job Seeker', N'testjobseeker0811a@gmail.com', N'AQAAAAIAAYagAAAAEH3VDYP7xbp9VD20wpNTNG/y+jyK4B0W/GxrMuBfK+GHX7GJQ5W0YBIgCR6h24LjRw==', 1, 1, CAST(N'2026-08-11T03:48:07.2007214' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacancies] ON 

INSERT [dbo].[Vacancies] ([VacancyId], [EmployerId], [Title], [Description], [Location], [Salary], [ExperienceRequired], [RequiredEducationLevel], [CreatedAt], [ClosingDate], [IsActive]) VALUES (1, 1, N'Junior .NET Developer', N'Looking for an ASP.NET Core developer with C#, ASP.NET Core and SQL Server knowledge.', N'Colombo', CAST(80000.00 AS Decimal(18, 2)), 2, 3, CAST(N'2026-08-10T15:44:32.6804716' AS DateTime2), CAST(N'2026-09-30T23:59:59.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Vacancies] OFF
GO
SET IDENTITY_INSERT [dbo].[VacancySkills] ON 

INSERT [dbo].[VacancySkills] ([VacancySkillId], [VacancyId], [SkillId]) VALUES (1, 1, 1)
INSERT [dbo].[VacancySkills] ([VacancySkillId], [VacancyId], [SkillId]) VALUES (2, 1, 2)
INSERT [dbo].[VacancySkills] ([VacancySkillId], [VacancyId], [SkillId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[VacancySkills] OFF
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_JobSeekers_JobSeekerId] FOREIGN KEY([JobSeekerId])
REFERENCES [dbo].[JobSeekers] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_JobSeekers_JobSeekerId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_Applications_Vacancies_VacancyId] FOREIGN KEY([VacancyId])
REFERENCES [dbo].[Vacancies] ([VacancyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_Applications_Vacancies_VacancyId]
GO
ALTER TABLE [dbo].[CompanyDocuments]  WITH CHECK ADD  CONSTRAINT [FK_CompanyDocuments_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyDocuments] CHECK CONSTRAINT [FK_CompanyDocuments_Companies_CompanyId]
GO
ALTER TABLE [dbo].[CompanyProfiles]  WITH CHECK ADD  CONSTRAINT [FK_CompanyProfiles_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanyProfiles] CHECK CONSTRAINT [FK_CompanyProfiles_Companies_CompanyId]
GO
ALTER TABLE [dbo].[CompanySocialMedias]  WITH CHECK ADD  CONSTRAINT [FK_CompanySocialMedias_Companies_CompanyId] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompanySocialMedias] CHECK CONSTRAINT [FK_CompanySocialMedias_Companies_CompanyId]
GO
ALTER TABLE [dbo].[ContactRequests]  WITH CHECK ADD  CONSTRAINT [FK_ContactRequests_Employers_EmployerId] FOREIGN KEY([EmployerId])
REFERENCES [dbo].[Employers] ([EmployerId])
GO
ALTER TABLE [dbo].[ContactRequests] CHECK CONSTRAINT [FK_ContactRequests_Employers_EmployerId]
GO
ALTER TABLE [dbo].[ContactRequests]  WITH CHECK ADD  CONSTRAINT [FK_ContactRequests_JobSeekers_JobSeekerId] FOREIGN KEY([JobSeekerId])
REFERENCES [dbo].[JobSeekers] ([Id])
GO
ALTER TABLE [dbo].[ContactRequests] CHECK CONSTRAINT [FK_ContactRequests_JobSeekers_JobSeekerId]
GO
ALTER TABLE [dbo].[ContactRequests]  WITH CHECK ADD  CONSTRAINT [FK_ContactRequests_Vacancies_VacancyId] FOREIGN KEY([VacancyId])
REFERENCES [dbo].[Vacancies] ([VacancyId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ContactRequests] CHECK CONSTRAINT [FK_ContactRequests_Vacancies_VacancyId]
GO
ALTER TABLE [dbo].[CVs]  WITH CHECK ADD  CONSTRAINT [FK_CVs_JobSeekers_JobSeekerId] FOREIGN KEY([JobSeekerId])
REFERENCES [dbo].[JobSeekers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CVs] CHECK CONSTRAINT [FK_CVs_JobSeekers_JobSeekerId]
GO
ALTER TABLE [dbo].[Educations]  WITH CHECK ADD  CONSTRAINT [FK_Educations_JobSeekers_JobSeekerId] FOREIGN KEY([JobSeekerId])
REFERENCES [dbo].[JobSeekers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Educations] CHECK CONSTRAINT [FK_Educations_JobSeekers_JobSeekerId]
GO
ALTER TABLE [dbo].[Experiences]  WITH CHECK ADD  CONSTRAINT [FK_Experiences_JobSeekers_JobSeekerId] FOREIGN KEY([JobSeekerId])
REFERENCES [dbo].[JobSeekers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Experiences] CHECK CONSTRAINT [FK_Experiences_JobSeekers_JobSeekerId]
GO
ALTER TABLE [dbo].[JobSeekerProfiles]  WITH CHECK ADD  CONSTRAINT [FK_JobSeekerProfiles_JobSeekers_JobSeekerId] FOREIGN KEY([JobSeekerId])
REFERENCES [dbo].[JobSeekers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobSeekerProfiles] CHECK CONSTRAINT [FK_JobSeekerProfiles_JobSeekers_JobSeekerId]
GO
ALTER TABLE [dbo].[JobSeekerSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSeekerSkills_JobSeekers_JobSeekerId] FOREIGN KEY([JobSeekerId])
REFERENCES [dbo].[JobSeekers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[JobSeekerSkills] CHECK CONSTRAINT [FK_JobSeekerSkills_JobSeekers_JobSeekerId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_UserId]
GO
ALTER TABLE [dbo].[RefreshTokens]  WITH CHECK ADD  CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RefreshTokens] CHECK CONSTRAINT [FK_RefreshTokens_Users_UserId]
GO
ALTER TABLE [dbo].[Vacancies]  WITH CHECK ADD  CONSTRAINT [FK_Vacancies_Employers_EmployerId] FOREIGN KEY([EmployerId])
REFERENCES [dbo].[Employers] ([EmployerId])
GO
ALTER TABLE [dbo].[Vacancies] CHECK CONSTRAINT [FK_Vacancies_Employers_EmployerId]
GO
ALTER TABLE [dbo].[VacancySkills]  WITH CHECK ADD  CONSTRAINT [FK_VacancySkills_Skills_SkillId] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skills] ([SkillId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacancySkills] CHECK CONSTRAINT [FK_VacancySkills_Skills_SkillId]
GO
ALTER TABLE [dbo].[VacancySkills]  WITH CHECK ADD  CONSTRAINT [FK_VacancySkills_Vacancies_VacancyId] FOREIGN KEY([VacancyId])
REFERENCES [dbo].[Vacancies] ([VacancyId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VacancySkills] CHECK CONSTRAINT [FK_VacancySkills_Vacancies_VacancyId]
GO
